<form action="/create" method="POST">
<h2>Create</h2>

<div class="unput-field">
    <input type="text" name="title">
    <labeL>Todo title</labeL>   
</div>

<button type="submit" class = "btn">Create</button>

</form>

